<div class="flex justify-center mt-20">
  <div class="bg-white p-6 shadow rounded w-96">

    <h2 class="text-xl mb-4 text-center">Add Car</h2>

    <input [(ngModel)]="title"
           placeholder="Car Title"
           class="w-full border p-2 mb-3 rounded">

    <input [(ngModel)]="price"
           type="number"
           placeholder="Price"
           class="w-full border p-2 mb-3 rounded">

    <button (click)="addCar()"
            class="w-full bg-black text-white p-2 rounded">
      Add Car
    </button>

  </div>
</div>