<div class="flex justify-center mt-20">

  <div class="bg-white p-6 shadow rounded w-80">

    <h2 class="text-xl mb-4 text-center">
      Login
    </h2>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()">

      <!-- Email -->

      <input
        formControlName="email"
        placeholder="Email"
        class="w-full border p-2 mb-1 rounded">

      <p
        *ngIf="
          loginForm.get('email')?.touched &&
          loginForm.get('email')?.errors?.['required']
        "
        class="text-red-500 text-sm mb-3">

        Email is required

      </p>

      <p
        *ngIf="
          loginForm.get('email')?.touched &&
          loginForm.get('email')?.errors?.['email']
        "
        class="text-red-500 text-sm mb-3">

        Enter a valid email

      </p>

      <!-- Password -->

      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="w-full border p-2 mb-1 rounded">

      <p
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.errors?.['required']
        "
        class="text-red-500 text-sm mb-3">

        Password is required

      </p>

      <!-- Backend Error -->

      <p
        *ngIf="errorMessage"
        class="text-red-500 text-sm mb-3">

        {{ errorMessage }}

      </p>

      <button
        type="submit"
        class="w-full bg-black text-white p-2 rounded">

        Login

      </button>

    </form>

  </div>

</div>